* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(/components/fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

body {
    font-family: "Roboto";
}

.page_container {
    width: 1100px;
    margin: 0 auto;
}

.header {
    background-color: #EEEFF1;;
}


.nav_menu {
    display: flex;
    padding-top: 79px;

}

.active {
    font-family: "Roboto-Regular";
    font-weight: 400;
    color: #34547A;
    letter-spacing: 0.1em;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 611px;
}

a {
    font-family: "Roboto-Regular";
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.first-screen {
    width: 540px;
}

h1 {
    font-family: "Roboto-Regular";
    font-size: 48px;
    font-weight: 500;
    color: black;
    margin-top: 162px;
}

.text {
    width: 540px;
    margin-top: 60px;
}

p {
    font-family: "Roboto-Regular";
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
}

input {
    width: 225px;
    height: 65px;
    margin-top: 65px;
    margin-bottom: 141px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #34547A;
}

.page-content {
   
}

.about_me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 112px;
}

.text_about {
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #34547A;
    width: 100%;
}

.numbers {
    margin-top: 100px;
    width: 1100px;
}

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 540px;
    margin-top: 100px;
}

h2 {
    font-family: "Roboto-Regular";
    font-weight: 500;
    font-size: 32px;
    color: black;
}

.text_2 {
    text-align: center;
    margin-top: 50px;
}

.video {
    margin-top: 57px;

}

footer {
    height: 151px;
    background-color: #34547A;
    margin-top: 100px;
}

.text_footer {
    margin-left: 406px;
    padding-top: 50px;
}

h3 {
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 500;
}

.foot {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
}